<article>
<h3>$title$</h3>

<p>ごゆるりお楽しみください。</p>

<ul>
    $for(posts)$
        <li>

            <h4><a href="$url$">$title$</a></h4>
            <div class="info">$date$</div>

            $if(teaser)$
                $teaser$...<a href="$url$">(続きを読む)</a>
            $endif$

        </li>

    $endfor$
</ul>

</article>

<div class="pagination">
    <div class="container">
        $if(firstPageUrl)$
            <a class="button" href="$firstPageUrl$">First</a>
        $else$
            <button>First</button>
        $endif$
        $if(previousPageUrl)$
            <a class="button" href="$previousPageUrl$">Previous</a>
        $else$
            <button>Previous</button>
        $endif$
        &mdash;
        $currentPageNum$ of $numPages$
        &mdash;
        $if(nextPageUrl)$
            <a class="button" href="$nextPageUrl$">Next</a>
        $else$
            <button>Next</button>
        $endif$
        $if(lastPageUrl)$
            <a class="button" href="$lastPageUrl$">Last</a>
        $else$
            <button>Last</button>
        $endif$
    </div>
</div>

