<article>
<h3>$title$</h3>

<p>ごゆるりお楽しみください。</p>
<hr>

$for(posts)$

  <h4>$title$</h4>

  <p>
    <div class="info">
      Posted on $date$
      $if(author)$
        by $author$
      $endif$
    </div>
    <div class="info">
      $if(tags)$
        Tags: $tags$
      $endif$
    </div>
  </p>

  $if(teaser)$
    $teaser$...<a href="$url$">(続きを読む)</a>
  $endif$

  <hr>

$endfor$

</article>

<div class="pagination">
  <div class="container">
    $if(firstPageUrl)$
      <a href="$firstPageUrl$">&lt;&lt;&nbsp;First</a>&nbsp;
    $endif$
    $if(previousPageUrl)$
      <a href="$previousPageUrl$">&lt;&nbsp;Previous</a>&nbsp;
    $endif$
    &mdash;
    $currentPageNum$ of $numPages$
    &mdash;
    $if(nextPageUrl)$
      &nbsp;<a href="$nextPageUrl$">Next&nbsp;&gt;</a>
    $endif$
    $if(lastPageUrl)$
      &nbsp;<a href="$lastPageUrl$">Last&nbsp;&gt;&gt;</a>
    $endif$
  </div>
</div>

